<button mat-raised-button color="accent" routerLink="">Proceed payment</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="response">
    <th mat-header-cell *matHeaderCellDef> Response </th>
    <td mat-cell *matCellDef="let element"> {{element.response}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="bin">
    <th mat-header-cell *matHeaderCellDef> Bin </th>
    <td mat-cell *matCellDef="let element"> {{element.payment.card.bin}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.payment.amount}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="merchantId">
    <th mat-header-cell *matHeaderCellDef> Merchant Id </th>
    <td mat-cell *matCellDef="let element"> {{element.payment.merchantId}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
