<form [formGroup]="form">
  <label for="bin">Card Number</label>
  <input formControlName="bin" id="bin" />
  <app-control-messages [control]="form.get('bin')"></app-control-messages>

  <label for="cardholderName">Cardholder Name</label>
  <input formControlName="cardholderName" id="cardholderName" />
  <app-control-messages [control]="form.get('cardholderName')"></app-control-messages>

  <label for="expirationMonth">Expiration Month</label>
  <input formControlName="expirationMonth" id="expirationMonth" />
  <app-control-messages [control]="form.get('expirationMonth')"></app-control-messages>

  <label for="expirationMonth">Expiration Year</label>
  <input formControlName="expirationYear" id="expirationYear" />
  <app-control-messages [control]="form.get('expirationYear')"></app-control-messages>

  <label for="cvv">CVV</label>
  <input formControlName="cvv" id="cvv" />
  <app-control-messages [control]="form.get('cvv')"></app-control-messages>

  <button type="submit" (click)="proceedPayment()">Submit</button>
</form>
